<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add connectionString="Data Source=DESKTOP-4OFAUV8\SQLEXPRESS;Initial Catalog=SMS;Integrated Security=True" name="connStr" />  
  </connectionStrings>
</configuration>